# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#* Semi
**/*.txt
**/*.html
**/*.kra
**/*.sh

/ios/
/android/
/python/
/builds/
/crashes/

/assets/svgs/
/assets/images/screenshots/

uncompressed/

/assets/fonts/hades/*
!/assets/fonts/hades/hades_tall_fat.ttf
!/assets/fonts/hades/hades_short_fat.ttf
!/assets/fonts/hades/hades_super_short_fat.ttf
!/assets/fonts/hades/hades_short_skinny.ttf

/assets/images/upgrade/*
!/assets/images/upgrade/upgrade-shear.jpg

/assets/images/app-icon/ios/*
!/assets/images/app-icon/ios/icon-full.png
/assets/images/app-icon/android/*
!/assets/images/app-icon/android/background.png
!/assets/images/app-icon/android/foreground.png
!/assets/images/app-icon/android/monochrome.png
!/assets/images/app-icon/android/notification.png
