# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

#* Semi
ios/
android/
python/
builds/
crashes/
assets/svgs
**/uncompressed
**/*.txt
**/*.html
**/*.kra
**/*.sh

assets/images/app-icon/*
!assets/images/app-icon/icon.png
!assets/images/app-icon/icon-full.png
!assets/images/app-icon/favicon.png

assets/images/upgrade/*
!assets/images/upgrade/upgrade-shear.jpg
